.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.img_container{
  position: relative;
  height: 130px;
  width: 260px;
  border: 2px solid #72677A;
}

.img{
  position: absolute;
  height: 100%;
  width: 100%;
  filter: brightness(70%);
}

.play{
  margin: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

.description{
  text-align: justify;
  align-self: start;
  color: var(--violet);
  width: 260px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}