.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img{/*
  border: 2px solid var(--violet);*/
  height: 130px;
  width: 260px;
}

.description{
  align-self: start;
  color: var(--violet);
}