.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--gray);
  background-color: white;
  position: absolute;
  bottom: 0px;
  top: 0px;
  margin: 20px;
}

.list{
  border: 2px solid var(--violet);
  padding-top: 20px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--pink);
}

.select {
  width: 100%;
  font-size: 14px;
  letter-spacing: 2px;
}